<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmniao.xmn.core.userData_statistics.dao.UserApplicationOverviewDao">

	<parameterMap type="TUserApplicationOverview" id="transactionFlow" />
	
	<resultMap type="TUserApplicationOverview" id="transactionFlowMap">
		<result column="censusDate" property="date" />
		<result column="tradingTotal" property="tradingTotal" />
	</resultMap>
	
	<select id="getList" resultMap="transactionFlowMap" parameterMap="transactionFlow">
						 SELECT SUM(money)AS tradingTotal,DATE_FORMAT(zdate,'%Y-%m-%d')AS censusDate FROM t_bill 
						 WHERE 
						 	STATUS IN (1,2,3,6,8,9)
						 	<if test=" null != startCensusDate and '' !=startCensusDate">
								AND DATE_FORMAT(zdate, '%Y-%m-%d')&gt;= DATE_FORMAT(#{startCensusDate},'%Y-%m-%d')
							</if>
							<if test=" null != endCensusDate and '' !=endCensusDate">
								AND DATE_FORMAT(zdate,'%Y-%m-%d')&lt;=  DATE_FORMAT(#{endCensusDate},'%Y-%m-%d')
							</if>
					  	GROUP BY  DATE_FORMAT(zdate,'%Y-%m-%d') ORDER BY censusDate DESC
	</select>
	
</mapper>