<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmniao.xmn.core.user_terminal.dao.AbnormalSellerDao">
    
    <parameterMap type="AbnormalSeller" id="abnormalSeller" />
    
    
	<resultMap type="AbnormalSeller" id="abnormalSellerMap">
		<result column="id" property="id" />
		<result column="type" property="type" />
		<result column="sellerid" property="sellerid" />
		<result column="sellername" property="sellername" />
		<result column="uid" property="uid" />
		<result column="uname" property="uname" />
		<result column="phone" property="phone" />
		<result column="sdate" property="sdate" />
		<result column="status" property="status" />
		<result column="edate" property="edate" />
	</resultMap>
	
	<!-- 查询举报商家信息列表 -->
	<select id="getAbnormalSellerList" resultMap="abnormalSellerMap" parameterMap="abnormalSeller">
		SELECT id,type,sellerid,sellername,uid,uname,phone,sdate,status,edate
        FROM t_abnormal_seller
		<where>
			1=1
			<if test=" null != id">
				AND id=#{id}
			</if>
			<if test=" null != type">
				AND type = #{type}
			</if>
			<if test=" null != sellerid">
				AND sellerid = #{sellerid}
			</if>
			<if test=" null != sellername and ''!= sellername">
				AND sellername = #{sellername}
			</if>
			<if test=" null != uid">
				AND uid = #{uid}
			</if>
			<if test=" null != uname and ''!= uname">
				AND uname = #{uname}
			</if>
			<if test=" null != phone and '' != phone">
				AND phone = #{phone}
			</if>
			<if test=" null != status">
				AND status = #{status}
			</if>
			<if test=" null != sdateStart and ''!= sdateStart">
				AND sdate &gt;= #{sdateStart}
			</if>
			
			<if test=" null != sdateEnd and ''!= sdateEnd">
				AND sdate &lt; DATE_ADD(#{sdateEnd}, INTERVAL 1 DAY)
			</if>
			ORDER BY sdate DESC
		</where>
			<if test=" limit != -1 ">
			LIMIT ${(page-1)*limit},#{limit}
			</if>
	</select>
	
	<!-- 统计总数 -->
	<select id="getAbnormalSellerCount" resultType="Long" parameterMap="abnormalSeller">
		SELECT COUNT(1) FROM t_abnormal_seller
		<where>
		 1=1
			<if test=" null != id">
				AND id=#{id}
			</if>
			<if test=" null != type">
				AND type = #{type}
			</if>
			<if test=" null != sellerid">
				AND sellerid = #{sellerid}
			</if>
			<if test=" null != sellername and ''!= sellername">
				AND sellername = #{sellername}
			</if>
			<if test=" null != uid">
				AND uid = #{uid}
			</if>
			<if test=" null != uname and ''!= uname">
				AND uname = #{uname}
			</if>
			<if test=" null != phone and '' != phone">
				AND phone = #{phone}
			</if>
			<if test=" null != status">
				AND status = #{status}
			</if>
			<if test=" null != sdateStart and ''!= sdateStart">
				AND sdate &gt;= #{sdateStart}
			</if>
			
			<if test=" null != sdateEnd and ''!= sdateEnd">
				AND sdate &lt; DATE_ADD(#{sdateEnd}, INTERVAL 1 DAY)
			</if>
			ORDER BY sdate DESC
		</where>
	</select>
	
	<!-- 更新举报商家的状态 -->
	<update id="dealInfo" parameterType="abnormalSeller">
		UPDATE t_abnormal_seller
		SET status = #{status},
		edate = #{edate}
		WHERE id = #{id}
	</update>
	
	<!-- 根据id删除举报商家记录 -->
	<delete id="deleteInfoById" parameterType="string">
		DELETE FROM t_abnormal_seller
		WHERE id = #{id}
	</delete>
</mapper>