<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmniao.xmn.core.live_anchor.dao.TLivePublicMessageDao" >

  <resultMap id="livePublicMessageMap" type="com.xmniao.xmn.core.live_anchor.entity.TLivePublicMessage" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="send_liver_id" property="sendLiverId" jdbcType="INTEGER" />
    <result column="send_liver_uname" property="sendLiverUname" jdbcType="VARCHAR" />
    <result column="live_record_id" property="liveRecordId" jdbcType="INTEGER" />
    <result column="messager_group_no" property="messagerGroupNo" jdbcType="VARCHAR" />
    <result column="mess_send_time" property="messSendTime" jdbcType="TIMESTAMP" />
    <result column="message_type" property="messageType" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="messager_txt" property="messagerTxt" jdbcType="VARCHAR" />
  </resultMap>
  
  
  <sql id="livePublicMessage_column_list" >
    id, send_liver_id, send_liver_uname, live_record_id, messager_group_no, mess_send_time, 
    message_type, create_time, update_time, messager_txt
  </sql>
  
  <sql id="whereSQL">
  	<if test=" null != createTime and '' != createTime">
  		 <![CDATA[
	  		and SUBDATE(#{createTime} ,interval 5 second) < create_time 
		]]> 
  	</if>
  	<if test=" null != liveRecordId and '' != liveRecordId">
  		 and live_record_id = #{liveRecordId}
  	</if>
  	<if test=" null != maxId and '' != maxId">
  		<![CDATA[ 
  			and id > #{maxId}
  		]]> 
  	</if>
  </sql>
  
  <select id="getList" resultMap="livePublicMessageMap" parameterType="com.xmniao.xmn.core.live_anchor.entity.TLivePublicMessage" >
 
    select 
    <include refid="livePublicMessage_column_list" />
    from t_live_public_message
     <where>
    	1=1
    	<include refid="whereSQL"></include>
    </where>
    order by create_time desc
    <if test=" limit != -1 ">
			LIMIT ${(page-1)*limit},#{limit}
	</if>
	
  </select>
  
</mapper>