<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmn.saas.dao.shop.LiveClassifyTagDao" >
  <resultMap id="BaseResultMap" type="com.xmn.saas.entity.shop.LiveClassifyTag" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="classify_id" property="classifyId" jdbcType="INTEGER" />
    <result column="tag_name" property="tagName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, classify_id, tag_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_live_classify_tag
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectByClassId" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from t_live_classify_tag
        WHERE classify_id = #{classifyId}
    </select>
    <select id="selectByIds" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM t_live_classify_tag
        WHERE id in <foreach collection="tags" open="(" close=")" separator="," item="tagId">
         #{tagId}
    </foreach>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_live_classify_tag
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xmn.saas.entity.shop.LiveClassifyTag" >
    insert into t_live_classify_tag (id, classify_id, tag_name
      )
    values (#{id,jdbcType=INTEGER}, #{classifyId,jdbcType=INTEGER}, #{tagName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xmn.saas.entity.shop.LiveClassifyTag" >
    insert into t_live_classify_tag
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="classifyId != null" >
        classify_id,
      </if>
      <if test="tagName != null" >
        tag_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="classifyId != null" >
        #{classifyId,jdbcType=INTEGER},
      </if>
      <if test="tagName != null" >
        #{tagName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xmn.saas.entity.shop.LiveClassifyTag" >
    update t_live_classify_tag
    <set >
      <if test="classifyId != null" >
        classify_id = #{classifyId,jdbcType=INTEGER},
      </if>
      <if test="tagName != null" >
        tag_name = #{tagName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xmn.saas.entity.shop.LiveClassifyTag" >
    update t_live_classify_tag
    set classify_id = #{classifyId,jdbcType=INTEGER},
      tag_name = #{tagName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>