.tipsmodle{position:fixed;background:#343F4B;left:50%;bottom:22%;height:30px;opacity:0.9;border-radius:3px;box-shadow:0px 0px 5px  #343F4B;display:none;z-index:100000}.tipsmodle p{    line-height: 20px;padding:5px 10px;font-family:"Microsoft Yahei";font-size:0.8em;color:#fcfcfc}.loading-back-bg{position:fixed;top:0;left:0;width:100%;height:100%;z-index:99999999}.lading-back-box{width:90px;height:90px;position:absolute;top:50%;left:50%;margin-left:-45px;margin-top:-45px;background:#343F4B;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60);opacity:0.6;border-radius:8px;-webkit-border-radius:8px}@keyframes rotatea{0%{transform:rotate(0deg);-webkit-transform:rotate(0deg)}50%{transform:rotate(180deg);-webkit-transform:rotate(180deg)}100%{transform:rotate(360deg);-webkit-transform:rotate(360deg)}}@-webkit-keyframes rotatea{0%{transform:rotate(0deg);-webkit-transform:rotate(0deg)}50%{transform:rotate(180deg);-webkit-transform:rotate(180deg)}100%{transform:rotate(360deg);-webkit-transform:rotate(360deg)}}.loading-back-img{width:20px;margin:20px auto;animation-name:rotatea;animation-duration:2s;animation-timing-function:linear;animation-iteration-count:infinite;-webkit-animation-name:rotatea;-webkit-animation-duration:2s;-webkit-animation-timing-function:linear;-webkit-animation-iteration-count:infinite}.loading-back-img img{width:20px;height:auto}.lading-back-box p{width:100%;text-align:center;color:#fff;font-size:12px}.sea-pagenumframe{width:100%;height:50px;margin-top:20px}.sea-pagenumframe ul{padding-top:5px;margin-left:150px;width:550px;height:25px;list-style-type:none;margin-top:9px}.sea-pagenumframe ul a{color:#444}.sea-pagenumframe ul li{font-size:16px;cursor:pointer;background:#fff;float:left;width:36px;height:27px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;border-right:1px solid #ccc;text-align:center;padding-top:9px;font-family:"Arial"}.sea-pagenumframe ul li:hover{background:#cdb9c8}#thefirstpage{border-left:1px solid #ccc}#stwopage{border-left:1px solid #ccc;border-right:none}#seafontpage{padding-top:8px;width:90px;height:28px;border:1px solid #ccc;margin-right:5px}#seafontpage:hover{background:#fff;border:1px solid #4A3244}#seanextpage{padding-top:8px;width:90px;height:28px;border:1px solid #ccc;margin-left:5px}#seanextpage:hover{background:#fff;border:1px solid #4A3244}#seanonepage{border:none;width:20px;background:none;cursor:auto}#sealocalpage{background:#4A3244;border:none;width:38px;height:29px;color:#eee}#seaheadpage{border-right:none}#seanextpagedis{padding-top:8px;width:90px;height:28px;border:1px solid #ccc;margin-left:5px;color:#ccc}#seanextpagedis:hover{background:#fff;cursor:auto}#seafontpagedis{padding-top:8px;width:90px;height:28px;border:1px solid #ccc;margin-right:5px;color:#ccc;cursor:auto}#seafontpagedis:hover{cursor:auto;background:#fff}#thelastpage{border-left:1px solid #ccc}.wf-disloag-model{width:1200px;height:740px;position:fixed;top:50%;left:50%;margin-left:-600px;margin-top:-370px;z-index:999;background:#000;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);opacity:0.4}.wf-disloag{width:300px;height:190px;background:#fff;position:fixed;top:50%;left:50%;margin-left:-150px;margin-top:-75px;z-index:1000}.wf-disloag .wf-disloag-title{width:100%;height:50px;background:#343f4b;text-align:center;line-height:50px;color:#73848e}.wf-disloag .wf-disloag-content{width:80%;padding:10px 10%;text-align:center;font-size:14px;color:#666;margin-top:30px;margin-bottom:10px;height:35px}.wf-disloag .wf-disloag-btn{width:100%;height:35px}.wf-disloag .wf-disloag-btn a{width:140px;height:30px;margin-top:10px;background:#5D4457;border:none;outline:none;color:#ECECEC;font-size:14px;-moz-transition:background 0.5s;-o-transition:background 0.5s;-webkit-transition:background 0.5s;transition:background 0.5s;display:block;float:left;margin:0;margin-left:33px;width:100px;text-align:center;text-decoration:none;line-height:30px}.wf-disloag .wf-disloag-btn a:hover{background:#4a3244}.wf-disloag .wf-disloag-btn .disloag-cancel{background:#ccc}



.index-showok-model {
    position: fixed;
    height: 100%;
    width: 100%;

    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.5;
    top: 0%;
    left: 0%;
    z-index: 999999;

}

@keyframes rotatea {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    50% {
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg)
    }
    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-moz-keyframes rotatea
/* Firefox */

{
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    50% {
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg)
    }
    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes rotatea
/* Safari 鍜� Chrome */

{
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    50% {
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg)
    }
    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-o-keyframes rotatea
/* Opera */

{
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    50% {
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg)
    }
    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}


.index-showok {
    color: #89ECFF;
    position: fixed;
    top: 35%;
    left: 50%;
    z-index: 10000000;
    width: 80px;
    height: 100px;
    background:#000;
    text-align: center;
    margin-left: -40px;
    border-radius: 10px;
    opacity: 0;
}



.index-showok .loadingimg {
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-top:20px;
    background: url(../images/loading.png)no-repeat;
    background-size: auto 25px;
    -moz-animation-name: rotatea;
    -webkit-animation-name: rotatea;
    animation-name: rotatea;
    -moz-animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -moz-animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

}

.index-showok .loadingp{
	text-align: center;
	height: 40px;
	line-height: 40px;
	color:#fff;
}

.confirmdiagmodal{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    background: #000;
    opacity: .4;
    z-index: 9999;
}

.dialogwithbtn-box{
    width: 240px;
    height: auto;
    background: #fff;
    border-radius: 5px;
    position: fixed;
    top:50%;
    left: 50%;
    margin-top:-120px;
    margin-left: -120px;
    z-index:10000;
 
}



.dialogwithbtn-box .dialogwithbtn-tips{
    width: 100%;
    box-sizing: border-box;
    padding:50px 20px 20px;
    margin:0;
    text-align: center;
    color:#666;
}

.dialogwithbtn-box .dialogwithbtn-btnbox{
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 0px;
    
    margin-top:10px;
}

.dialogwithbtn-box .dialogwithbtn-btnbox a{
    text-decoration: none;
    color:#f7b52d;
}

.dialogwithbtn-box .dialogwithbtn-btnbox .dialogwithbtn-twobtn{
    display: inline-block;
    width: 50%;
    font-size: 14px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    border-top:1px solid #f1f1f1;
}

.dialogwithbtn-box .dialogwithbtn-btnbox .dialogwithbtn-twobtn:first-child{
    border-right:1px solid #f1f1f1;
}

.dialogwithbtn-box .dialogwithbtn-btnbox .dialogwithbtn-onebtn{
    display: inline-block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 14px;
}