<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmn.saas.dao.micrograph.MicrographModuleDao" >
  <resultMap id="BaseResultMap" type="com.xmn.saas.entity.micrograph.MicrographModule" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="page_id" property="pageId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="top" property="top" jdbcType="DECIMAL" />
    <result column="left_style" property="leftStyle" jdbcType="DECIMAL" />
    <result column="width" property="width" jdbcType="DECIMAL" />
    <result column="height" property="height" jdbcType="DECIMAL" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="font_size" property="fontSize" jdbcType="INTEGER" />
    <result column="font_num" property="fontNum" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, page_id, type,top,left_style, width, height, remark, image, font_size, font_num, create_time, 
    update_time, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_micrograph_module
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_micrograph_module
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xmn.saas.entity.micrograph.MicrographModule" >
    insert into t_micrograph_module (id, page_id, type, 
      width, height, remark, 
      image, font_size, font_num, 
      create_time, update_time, status
      )
    values (#{id,jdbcType=INTEGER}, #{pageId,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, 
      #{width,jdbcType=DECIMAL}, #{height,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, 
      #{image,jdbcType=VARCHAR}, #{fontSize,jdbcType=INTEGER}, #{fontNum,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xmn.saas.entity.micrograph.MicrographModule" >
    insert into t_micrograph_module
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pageId != null" >
        page_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="width != null" >
        width,
      </if>
      <if test="height != null" >
        height,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="image != null" >
        image,
      </if>
      <if test="fontSize != null" >
        font_size,
      </if>
      <if test="fontNum != null" >
        font_num,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pageId != null" >
        #{pageId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="width != null" >
        #{width,jdbcType=DECIMAL},
      </if>
      <if test="height != null" >
        #{height,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="fontSize != null" >
        #{fontSize,jdbcType=INTEGER},
      </if>
      <if test="fontNum != null" >
        #{fontNum,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xmn.saas.entity.micrograph.MicrographModule" >
    update t_micrograph_module
    <set >
      <if test="pageId != null" >
        page_id = #{pageId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="width != null" >
        width = #{width,jdbcType=DECIMAL},
      </if>
      <if test="height != null" >
        height = #{height,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="fontSize != null" >
        font_size = #{fontSize,jdbcType=INTEGER},
      </if>
      <if test="fontNum != null" >
        font_num = #{fontNum,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xmn.saas.entity.micrograph.MicrographModule" >
    update t_micrograph_module
    set page_id = #{pageId,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      width = #{width,jdbcType=DECIMAL},
      height = #{height,jdbcType=DECIMAL},
      remark = #{remark,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      font_size = #{fontSize,jdbcType=INTEGER},
      font_num = #{fontNum,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectByPageId" resultMap="BaseResultMap">
  	 select 
    <include refid="Base_Column_List" />
    from t_micrograph_module
    where page_id = #{pageId,jdbcType=INTEGER} 
     order by type desc,id asc
  </select>
</mapper>