<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmniao.xmn.core.jobmanage.dao.RecruitInfoDao">

	<resultMap type="recruitInfo" id="recruitInfoMap">
		<result column="id" property="id" />
		<result column="sellerid" property="sellerId"/>
		<result column="sellername" property="sellerName"/>
		<result column="scale" property="scale"/>
		<result column="contact" property="contact"/>
		<result column="phone" property="phone"/>
		<result column="nums" property="status"/>
		<result column="update_date" property="updateDate"/>
	</resultMap>

	<!-- 查询所有 -->
	<select id="getRecruitInfoList" resultMap="recruitInfoMap" parameterType="recruitInfo">
		SELECT 
			bri.`id`, bri.`sellerid`, bri.`sellername`, bri.`scale`, bri.`contact`, bri.`phone`, bri.`update_date` 
		FROM 
			`burs`.`b_recruit_info` bri 
		<where>
			1=1 
		    <include refid="queryRecruitInfoCondition"></include>
		</where>
		<if test="order == 1">
			ORDER BY bri.update_date DESC
		</if>
		<if test=" limit != -1 ">
			LIMIT ${(page-1)*limit},#{limit}
		</if>
	</select>
	
	<!-- 查询条件 -->
	<sql id="queryRecruitInfoCondition">
		<if test="null != status">
			AND bri.status = #{status}
		</if>
   		<if test="null != id">
			AND id = #{id}
		</if>
		<if test="null != sellerId">
			AND bri.sellerid = #{sellerId}
		</if>
		<if test="null != sellerName and '' != sellerName">
			AND bri.sellername LIKE '%${sellerName}%'
		</if>
		<if test="null != scale and '' != scale">
			AND bri.scale = #{scale}
		</if>
		<if test="null != contact and '' != contact">
			AND bri.contact LIKE '%${contact}'
		</if>
		<if test="null != phone and '' != phone">
		 	AND bri.phone LIKE '%${phone}%'
		</if>
		<if test="null != updateDate and '' != updateDate">
			AND bri.update_date = #{updateDate}
		</if>
	</sql>
	
	<!-- 查询总记录数 -->
	<select id="getCountByParam"  parameterType="recruitInfo" resultType="long">
		SELECT 
			COUNT(id) 
		FROM 
			burs.b_recruit_info 
		<where>
			1=1
		    <include refid="queryRecruitInfoCondition"></include>
		</where>
	</select>
	
	<!-- 根据ID查询一条记录 -->
	<select id="getRecruitInfoById" parameterType="int" resultMap="recruitInfoMap">
		SELECT 
			bri.* 
		FROM 
			burs.b_recruit_info bri 
		WHERE 
			id = #{id}
	</select>
	
</mapper>