<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmniao.dao.order.FreshActivityDao">
  <resultMap id="BaseResultMap" type="com.xmniao.domain.order.FreshActivityBean">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="codeId" jdbcType="BIGINT" property="codeId" />
    <result column="activity_id" jdbcType="INTEGER" property="activityId" />
    <result column="pv_ids" jdbcType="VARCHAR" property="pvIds" />
    <result column="pv_value" jdbcType="VARCHAR" property="pvValue" />
    <result column="pv_ids_sort" jdbcType="VARCHAR" property="pvIdsSort" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="sales" jdbcType="INTEGER" property="sales" />
  </resultMap>
  <sql id="Base_Column_List">
    id, codeId, activity_id, pv_ids, pv_value, pv_ids_sort, amount, stock, sort, sales
  </sql>
  
  <select id="selectEndActvityGroup" resultMap="BaseResultMap">
  	SELECT * FROM `t_fresh_activity_group` join t_fresh_activity_common  activity  on  t_fresh_activity_group.activity_id=activity.id
	where (activity.end_date &lt; now() or activity.`status` &lt;> 0) and t_fresh_activity_group.stock > 0;
  </select>
  
  <update id="updateActivityGroup">
		update t_sale_group set stock = stock + #{stock}  where codeId = #{codeId} and pv_ids=#{pvIds}
	</update>
	
	<update id="clearStock">
		update 	t_fresh_activity_group set stock = 0 where id = #{id}
	</update>
	
	<update id="updateActivityProduct">
		update t_product_info  set store = store+#{store} where codeId= #{codeId}
	</update>
	
	<update id="clearActivityProductStore">
		update t_fresh_activity_product set sell_store = 0 where activity_id=#{activityId} and codeId=#{codeId}
	</update>
</mapper>