<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmniao.xmn.core.coupon.dao.CouponValidityDao">

	<parameterMap type="CouponValidity" id="couponValidity" />

	<resultMap type="CouponValidity" id="couponValidityMap">
		<result column="cvid" property="cvid" />
		<result column="cid" property="cid" />
		<result column="start_date" property="startDate" />
		<result column="start_time" property="startTime" />
		<result column="end_date" property="endDate" />
		<result column="end_time" property="endTime" />
	</resultMap>

	<!-- 可重用的Where 条件 -->
	<sql id="whereSQL">
		<if test=" null != cvid and '' != cvid">
			AND cvid LIKE '%${cvid}%'
		</if>
		<if test=" null != cid and '' != cid">
			AND cid LIKE '%${cid}%'
		</if>
	</sql>

	<!-- 可重用的插入语句中表的列 -->
	<sql id="insertColumnSQL">
		<if test=" null != cid and '' != cid">
			cid,
		</if>
		<if test=" null != startDate and '' != startDate">
			start_date,
		</if>
		<if test=" null != startTime and '' != startTime">
			start_time,
		</if>
		<if test=" null != endDate and '' != endDate">
			end_date,
		</if>
		<if test=" null != endTime and '' != endTime">
			end_time,
		</if>
	</sql>
	<!-- 可重用的插入语句中表的值 -->
	<sql id="insertValuesSQL">
		<if test=" null != cid and '' != cid">
			#{cid},
		</if>
		<if test=" null != startDate and '' != startDate">
			#{startDate},
		</if>
		<if test=" null != startTime and '' != startTime">
			#{startTime},
		</if>
		<if test=" null != endDate and '' != endDate">
			#{endDate},
		</if>
		<if test=" null != endTime and '' != endTime">
			#{endTime},
		</if>
	</sql>
	<!-- 更新动态设置值 -->
	<sql id="updateSetSQL">
		<if test=" null != cid and '' != cid">
			cid = #{cid},
		</if>
		<if test=" null != startDate and '' != startDate">
			start_date = #{startDate},
		</if>
		<if test=" null != startTime and '' != startTime">
			start_time = #{startTime},
		</if>
		<if test=" null != endDate and '' != endDate">
			end_date = #{endDate},
		</if>
		<if test=" null != endTime and '' != endTime">
			end_time = #{endTime},
		</if>
	</sql>

	<insert id="addBatch" parameterType="java.util.ArrayList">
		INSERT INTO t_coupon_validity
		<trim prefix="(" suffix=")" suffixOverrides=",">
			cname,
			denomination,
			validity_desc,
			start_date,
			end_date,
			condition,
			use_num,
			pic,
			breviary,
			show_all
		</trim>
		VALUES
		<foreach item="item" index="index" collection="list"
			separator=",">
			<trim prefix="(" suffix=")" suffixOverrides=",">
				#{item.cname},
				#{item.denomination},
				#{item.validityDesc},
				#{item.startDate},
				#{item.endDate},
				#{item.condition},
				#{item.useNum},
				#{item.pic},
				#{item.breviary},
				#{item.showAll}
			</trim>
		</foreach>
	</insert>

	<insert id="add" parameterMap="couponValidity">
		INSERT INTO t_coupon_validity
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<include refid="insertColumnSQL"></include>
		</trim>
		<trim prefix="VALUES(" suffix=")" suffixOverrides=",">
			<include refid="insertValuesSQL"></include>
		</trim>
	</insert>

	<delete id="delete" parameterType="Object">
		DELETE FROM t_coupon_validity WHERE cid IN
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=") ">
			#{item}
		</foreach>
	</delete>
	<delete id="deleteAllByCid" parameterType="Long">
		DELETE FROM
		t_coupon_validity
		WHERE cid =#{0}
	</delete>

	<update id="update" parameterMap="couponValidity">
		UPDATE t_coupon_validity
		<set>
			<trim suffixOverrides=",">
				<include refid="updateSetSQL"></include>
			</trim>
		</set>
		<where>
			<include refid="whereSQL"></include>
		</where>
	</update>

	<select id="getList" resultMap="couponValidityMap" parameterMap="couponValidity">
		SELECT
		*
		FROM
		t_coupon_validity
		<where>
			1=1
			<include refid="whereSQL"></include>
		</where>
		ORDER BY cid DESC
		<if test=" limit != -1 ">
			LIMIT ${(page-1)*limit},#{limit}
		</if>
	</select>
	<select id="getListByCid" resultMap="couponValidityMap"
		parameterType="Long">
		SELECT
		*
		FROM
		t_coupon_validity
		<where>
			cid = #{cid}
		</where>
	</select>

	<select id="count" resultType="Long" parameterMap="couponValidity">
		SELECT COUNT(*) FROM t_coupon_validity
		<where>
			1=1
			<include refid="whereSQL"></include>
		</where>
	</select>

	<select id="getMaxId" resultType="Integer">
		SELECT Max(cid) AS VALUE FROM
		t_coupon_validity
	</select>

	<select id="getObject" resultMap="couponValidityMap"
		parameterType="Long">
		SELECT * FROM t_coupon_validity WHERE cid = #{0}
	</select>

</mapper>