<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmniao.xmn.core.xmer.dao.PayTypeDao">
	<select id="querySoldOrederInfoByOrdersn" resultType="map" parameterType="string">
		SELECT uid,ordersn,amount FROM t_saas_sold_order WHERE ordersn=#{orderid} AND STATUS=0
	</select>
</mapper>