<?xml version="1.0" encoding="UTF-8" ?>

<configuration scan="true" debug="false">
    <!-- 应用名称 -->  
    <property name="APP_NAME" value="xmniao-designer-api" />  
    
    <property name="LOG_HOME" value="/home/xmn-log/${APP_NAME}" />  
    <!-- 日志输出格式 -->  
    <property name="ENCODER_PATTERN"  value="%d{yyyy-MM-dd  HH:mm:ss.SSS} [%thread] %-5level %logger{80} - %msg%n" />  
    <contextName>${APP_NAME}</contextName>  

	<!-- 控制台 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger %L- %msg%n</pattern>
		</encoder>
	</appender>
	
	<!-- 文件日志 -->
	<appender name="FileAppd"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- 按天回滚 daily -->
			<fileNamePattern>${LOG_HOME}/guideConsole-%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>60</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
		</encoder>
	</appender>
	
	 <!-- 独立输出的同步日志 -->  
    <appender name="SYNC_FILE"  class="ch.qos.logback.core.rolling.RollingFileAppender">  
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
            <fileNamePattern>${LOG_HOME}/sync.%d{yyyy-MM-dd}.log</fileNamePattern>  
            <maxHistory>7</maxHistory>  
        </rollingPolicy>  
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">  
            <pattern>${ENCODER_PATTERN}</pattern>  
        </encoder>  
    </appender>  
    <logger name="log.sync" level="DEBUG" addtivity="true">  
        <appender-ref ref="SYNC_FILE" />  
    </logger>  


    <!-- 错误日志：用于将错误日志输出到独立文件 -->  
    <appender name="ERROR_FILE"  
        class="ch.qos.logback.core.rolling.RollingFileAppender">  
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
            <fileNamePattern>${LOG_HOME}/error.%d{yyyy-MM-dd}.log</fileNamePattern>  
            <maxHistory>7</maxHistory>  
        </rollingPolicy>  
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">  
            <pattern>${ENCODER_PATTERN}</pattern>  
        </encoder>  
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">  
            <level>WARN</level>  
        </filter>  
    </appender>  

	<!-- 根日志 -->
	<root level="ERROR">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FileAppd" />
		<appender-ref ref="ERROR_FILE" />  
	</root>
	
	<logger name="org.springframework" level="ERROR" />
	<logger name="com.xmn" level="debug"  />

</configuration>