<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmniao.xmn.core.market.dao.FreshHotBrandDao">
    <resultMap id="BaseResultMap" type="com.xmniao.xmn.core.market.entity.home.FreshHotBrand" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="state" property="state" jdbcType="INTEGER" />
        <result column="brand_id" property="brandId" jdbcType="BIGINT" />
        <result column="type_id" property="typeId" jdbcType="BIGINT" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="image_url" property="imageUrl" jdbcType="VARCHAR" />
        <result column="jump_url" property="jumpUrl" jdbcType="VARCHAR" />
        <result column="sort" property="sort" jdbcType="INTEGER" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, state, brand_id, type_id, title, image_url, jump_url, sort, update_time, create_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from t_fresh_hot_brand
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectByTypeId" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from  t_fresh_hot_brand
        where type_id = #{typeId}
        and state = 1
        order by sort desc
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from t_fresh_hot_brand
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.xmniao.xmn.core.market.entity.home.FreshHotBrand" >
        insert into t_fresh_hot_brand (id, state, brand_id,
        type_id, title, image_url,
        jump_url, sort, update_time,
        create_time)
        values (#{id,jdbcType=BIGINT}, #{state,jdbcType=INTEGER}, #{brandId,jdbcType=BIGINT},
        #{typeId,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{imageUrl,jdbcType=VARCHAR},
        #{jumpUrl,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP},
        #{createTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.xmniao.xmn.core.market.entity.home.FreshHotBrand" >
        insert into t_fresh_hot_brand
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="state != null" >
                state,
            </if>
            <if test="brandId != null" >
                brand_id,
            </if>
            <if test="typeId != null" >
                type_id,
            </if>
            <if test="title != null" >
                title,
            </if>
            <if test="imageUrl != null" >
                image_url,
            </if>
            <if test="jumpUrl != null" >
                jump_url,
            </if>
            <if test="sort != null" >
                sort,
            </if>
            <if test="updateTime != null" >
                update_time,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="state != null" >
                #{state,jdbcType=INTEGER},
            </if>
            <if test="brandId != null" >
                #{brandId,jdbcType=BIGINT},
            </if>
            <if test="typeId != null" >
                #{typeId,jdbcType=BIGINT},
            </if>
            <if test="title != null" >
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="imageUrl != null" >
                #{imageUrl,jdbcType=VARCHAR},
            </if>
            <if test="jumpUrl != null" >
                #{jumpUrl,jdbcType=VARCHAR},
            </if>
            <if test="sort != null" >
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null" >
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.xmniao.xmn.core.market.entity.home.FreshHotBrand" >
        update t_fresh_hot_brand
        <set >
            <if test="state != null" >
                state = #{state,jdbcType=INTEGER},
            </if>
            <if test="brandId != null" >
                brand_id = #{brandId,jdbcType=BIGINT},
            </if>
            <if test="typeId != null" >
                type_id = #{typeId,jdbcType=BIGINT},
            </if>
            <if test="title != null" >
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="imageUrl != null" >
                image_url = #{imageUrl,jdbcType=VARCHAR},
            </if>
            <if test="jumpUrl != null" >
                jump_url = #{jumpUrl,jdbcType=VARCHAR},
            </if>
            <if test="sort != null" >
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.xmniao.xmn.core.market.entity.home.FreshHotBrand" >
        update t_fresh_hot_brand
        set state = #{state,jdbcType=INTEGER},
        brand_id = #{brandId,jdbcType=BIGINT},
        type_id = #{typeId,jdbcType=BIGINT},
        title = #{title,jdbcType=VARCHAR},
        image_url = #{imageUrl,jdbcType=VARCHAR},
        jump_url = #{jumpUrl,jdbcType=VARCHAR},
        sort = #{sort,jdbcType=INTEGER},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        create_time = #{createTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>