@charset "UTF-8";
/*公共样式*/
address,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
html{font-size:62.5%;}
*{-webkit-touch-callout:none;user-select:none;-webkit-tap-highlight-color:rgba(255,255,255,0);overflow-scrolling:touch;margin:0;padding:0;outline:0;font-style:normal;border:none;background:0 0}
input,label,select{vertical-align:middle;}
h1,h2,h3,h4,h5,h6{font-family:normal;}
input[type=checkbox],input[type=radio]{box-sizing:border-box;}
input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
body{min-width:320px;word-wrap:break-word;line-height:1;cursor:default;-ms-content-zooming:none;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;text-size-adjust:none}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:400;}
dl,li,ol,ul{list-style:none;}
textarea{resize:none;overflow:auto;vertical-align:top;}
del{text-decoration:line-through;}
a,button{cursor:pointer;}
a,a:hover{text-decoration:none;-webkit-tap-highlight-color:transparent;}
a:active{blr:expression(this.onFocus=this.blur());outline:0;}
a:focus{outline:0;-moz-outline:none;}
img{border:0;vertical-align:middle;-ms-interpolation-mode:bicubic;-webkit-tap-highlight-color:transparent;}
.flex{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:flex;}
.flex-fixed{width:auto;display:block;}
.flex-auto{-webkit-box-flex:1;-moz-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;}
.bg-fff{
    background: #fff;
}
.gray{
    background: #f6f6f6;
}
.coupons-list li img{
    width: 45px;
    margin-top: 15px;
    margin-left: 15px;
    float: left;
}
.coupons-list{
    padding: 15px;
}
.coupons-list li{
    position: relative;
    width: 100%;
    height: 75px;
    background: url("../images/yhhd_bottom@2x.png") no-repeat;
    background-size: 100% 100%;
    margin-top: 15px;
    overflow: hidden;
}
.coupons-list li p{
    padding-left: 70px;
    font-size: 16px;
    color: #2e2e2e;
    padding-top: 20px;
}
.coupons-list li p.list-time{
    font-size: 12px;
    color: #bd9e70;
    padding-top: 6px;
}
.coupons-list li p.get-sign{
    font-size: 14px;
    color: #ffffff;
    width: 50px;
    height: 100%;
    line-height: 14px;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0px 18px;
    box-sizing: border-box;
    padding-top: 23.5px;
    background: url("../images/lingqu_bottom@2x.png") no-repeat;
    background-size: 100% 100%;
}
.coupons-list li span.right-arrow{
    display: inline-block;
    position: absolute;
    right: 15px;
    width: 10px;
    height: 16px;
    background: url(../images/list_next@2x.png) no-repeat center;
    background-size: 8px;
    top: 29.5px;
}