<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmniao.dao.FreshOrderMapper" >
<!-- 
  <resultMap id="BaseResultMap" type="com.xmniao.entity.PayOrder" >
    <id column="pay_id" property="payId" jdbcType="BIGINT" />
    <result column="order_number" property="orderNumber" jdbcType="VARCHAR" />
    <result column="appid" property="appid" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="order_name" property="orderName" jdbcType="VARCHAR" />
    <result column="detailed" property="detailed" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="bamount" property="bamount" jdbcType="DECIMAL" />
    <result column="client_type" property="clientType" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="pay_type" property="payType" jdbcType="INTEGER" />
    <result column="callback_url" property="callbackUrl" jdbcType="VARCHAR" />
    <result column="rdate" property="rdate" jdbcType="TIMESTAMP" />
    <result column="sign" property="sign" jdbcType="VARCHAR" />
    <result column="sign_type" property="signType" jdbcType="INTEGER" />
    <result column="ext1" property="ext1" jdbcType="VARCHAR" />
    <result column="ext2" property="ext2" jdbcType="VARCHAR" />
    <result column="merch_id" property="merchId" jdbcType="INTEGER" />
    <result column="merch_name" property="merchName" jdbcType="VARCHAR" />
    <result column="expire_time" property="expireTime" jdbcType="INTEGER" />
    <result column="phoneid" property="phoneid" jdbcType="VARCHAR" />
    <result column="integral" property="integral" jdbcType="DECIMAL" />
  </resultMap>
 -->
	<!-- 根据订单号，查询相关支付订单表数据  -->
	<select id="getPayOrderByorderNumber" parameterType="String" resultType="map">
	SELECT 
	    pay_id payId,
	    order_type payType,
	    amount money,
	    0.0 amount,
	    commision,
	    bamount balance,  
	    zamount zbalance, 
	    integral,
	    third_id thirdId,
	    pay_type thirdName, 
	    samount,
	    rdate payDate,
	    STATUS payStatus,
	    user_id userId 
	 FROM
	    b_fresh_order
	 WHERE order_number = #{order_number}  
	</select>
	
	<!-- 根据支付号,查询订单号-->
	<select id="getPayOrderBypayId" parameterType="String" resultType="map">
		select 
		order_number
		from b_fresh_order
		where pay_id = #{payId}
	</select>
	
	<select id="getOrderAmount" parameterType="String" resultType="map">
	SELECT 
	  user_id userId,
	  (0- amount) amount,
	  (0- commision) commision,
	  (0- bamount) balance,
	  (0- zamount) zbalance,
	  (0- integral) integral 
	FROM
	  b_fresh_order
	WHERE order_number = #{order_number} 
	AND STATUS = 2 
	</select>
</mapper>