<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmniao.dao.SellerStatisticsMapper">


	<!-- 批量插入商户统计数据 -->
	<insert id="insertSellerStatistics">
		insert into ${table} (
				accountid,
				sellerid,
				withdrawals,
				ledger,
				record_date,
				remark)
		values 
		<foreach collection="list" item="item" index="index" separator=",">
			(
			<if test="item.accountid != null">
				#{item.accountid},
			</if>
			<if test="item.accountid == null">
				null,
			</if>
			<if test="item.sellerid != null">
				#{item.sellerid},
			</if>
			<if test="item.sellerid == null">
				null,
			</if>
			<if test="item.withdrawals != null">
				#{item.withdrawals},
			</if>
			<if test="item.withdrawals == null">
				null,
			</if>
			<if test="item.ledger != null">
				#{item.ledger},
			</if>
			<if test="item.ledger == null">
				null,
			</if>
				#{item.recordDate},
			<if test="item.remark != null">
				#{item.remark}
			</if>
			<if test="item.remark == null">
				null
			</if>	
			)
		</foreach>	
	</insert>

	<select id="countRecordStatistics" resultType="int">
		SELECT COUNT(id) FROM ${table} WHERE sellerid=#{sellerid}
	</select>

	<select id="getStatisticsList" resultType="map">
		SELECT withdrawals,ledger,record_date date
		FROM ${table} 
		WHERE sellerid=#{sellerid} 
		LIMIT #{startNo},#{pageSize}
	</select>
	
	<select id="getMonthlyStatistics" resultType="map">
		SELECT IFNULL(SUM(withdrawals),0) withdrawals,IFNULL(SUM(ledger),0) ledger
		FROM ${table} 
		WHERE sellerid=#{sellerid} and DATE_FORMAT(record_date,'%Y-%m') like DATE_FORMAT(#{month}, '%Y-%m')
	</select>
</mapper>