<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmniao.xmn.core.user_terminal.dao.TPostCommentDao">

	<parameterMap type="TPostComment" id="tPostComment" />
	
	<resultMap type="TPostComment" id="tPostCommentMap">	
		<result column="id" property="id" />
		<result column="tid" property="tid" />
		 <result column="content" property="content" />
		<result column="fid" property="fid" />
		<result column="sdate" property="sdate" />
		<result column="uid" property="uid" />	
		 <result column="nname" property="nname" />
		 <result column="avatar" property="avatar" />
		 <result column="remarks" property="remarks" />
		<result column="status" property="status" />
	</resultMap>
	
	<insert id="addBatch"  parameterType="java.util.ArrayList">
		INSERT INTO t_post_comment
		<trim prefix="(" suffix=")" suffixOverrides=",">
						id,
						tid,
						content,
						fid,
						sdate,
						uid,
						nname,
						avatar,
						remarks,
						status,								
		</trim>
		VALUES
		<foreach item="item" index="index" collection="list" separator=",">
			<trim prefix="(" suffix=")" suffixOverrides=",">
						 #{item.id},
						 #{item.tid},
						 #{item.content},
						 #{item.fid},
						 #{item.sdate},
						 #{item.uid},	
						 #{item.nname},	
						 #{item.avatar},	
						 #{item.remarks},	
						 #{item.status},					
			</trim>
		</foreach>
	</insert>
	
	<insert id="add" parameterMap="tPostComment" >
		INSERT INTO t_post_comment
		<trim prefix="(" suffix=")" suffixOverrides=",">
			 	<if test=" null != id">
					id,
				</if>
			 	<if test=" null != tid">
					tid,
				</if>
				<if test=" null != content and '' != content ">
					content,
				</if>
				<if test=" null != fid">
					fid,
				</if>
				<if test=" null != sdate">
					sdate,
				</if>
				<if test=" null != uid">
					uid,
				</if>
			 	<if test=" null != nname and '' != nname ">
					nname,
				</if>			 					
			 	<if test=" null != avatar and '' != avatar ">
					avatar,
				</if>	
				<if test=" null != remarks and '' != remarks ">
					remarks,
				</if>			 	
			 	<if test=" null != status">
					status,
				</if>			 	
		</trim>
		<trim prefix="VALUES(" suffix=")" suffixOverrides=",">
				<if test=" null != id">
					#{id},
				</if>
			 	<if test=" null != tid">
					#{tid},
				</if>
				<if test=" null != content and '' != content ">
					#{content},
				</if>
				<if test=" null != fid">
					#{fid},
				</if>
				<if test=" null != sdate">
					#{sdate},
				</if>
				<if test=" null != uid">
					#{uid},
				</if>
			 	<if test=" null != nname and '' != nname ">
					#{nname},
				</if>			 					
			 	<if test=" null != avatar and '' != avatar ">
					#{avatar},
				</if>	
				<if test=" null != remarks and '' != remarks ">
					#{remarks},
				</if>			 	
			 	<if test=" null != status">
					#{status},
				</if>					 				 	
		</trim>
	</insert>
	
	<delete id="delete" parameterType="Object">
		DELETE FROM t_post_comment WHERE id IN
		<foreach item="item" index="index" collection="array"  open="(" separator="," close=") ">
			 #{item}
		</foreach>
	</delete>
	
	<update id="update" parameterMap="tPostComment">
		UPDATE t_post_comment
		<set>
			<trim suffixOverrides=",">
			
				<if test=" null != id">
					id =  #{id},
				</if>
			 	<if test=" null != tid">
					tid =  #{tid},
				</if>
				<if test=" null != content and '' != content ">
					content = #{content},
				</if>
				<if test=" null != fid">
					fid = #{fid},
				</if>
				<if test=" null != sdate">
					sdate = #{sdate},
				</if>
				<if test=" null != uid">
					uid = #{uid},
				</if>
			 	<if test=" null != nname and '' != nname ">
					nname = #{nname},
				</if>			 					
			 	<if test=" null != avatar and '' != avatar ">
					avatar = #{avatar},
				</if>	
				<if test=" null != remarks and '' != remarks ">
					remarks = #{remarks},
				</if>			 	
			 	<if test=" null != status">
					status = #{status},
				</if>					 
			</trim>
		</set>
		<where>
			<if test="null != id and '' != id">
				id = #{id}
			</if>
		</where>
	</update>
	
	<select id="getList" resultMap="tPostCommentMap" parameterMap="tPostComment">
		SELECT * FROM t_post_comment
		<where>
			1=1						
			<if test=" null != id">
				AND id = #{id}
			</if>
			<if test=" null != tid">
				AND tid = #{tid}
			</if>
				
			<if test=" null != content and '' != content ">
				AND content LIKE '%${content}%'
			</if>
			<if test=" null != fid">
				AND fid = #{fid}
			</if>	
			<if test=" null != sdate ">
				AND sdate = #{sdate}
			</if>
			<if test=" null != uid ">
				AND uid = #{uid}
			</if>
			<if test=" null != nname and '' != nname ">
				AND nname LIKE '%${nname}%'
			</if>	
			<if test=" null != avatar and '' != avatar ">
				AND avatar LIKE '%${avatar}%'
			</if>
			<if test=" null != remarks and '' != remarks ">
				AND remarks LIKE '%${remarks}%'
			</if>	
			<if test=" null != status ">
				AND status = #{status}
			</if>	
						
		</where>
			ORDER BY id DESC 
		<if test=" limit != -1 ">
			LIMIT ${(page-1)*limit},#{limit}
		</if>
	</select>
	
	<select id="count" resultType="Long" parameterMap="tPostComment">
		SELECT COUNT(*) FROM t_post_comment
		<where>
			1=1
			<if test=" null != id">
				AND id = #{id}
			</if>
			<if test=" null != tid">
				AND tid = #{tid}
			</if>
				
			<if test=" null != content and '' != content ">
				AND content LIKE '%${content}%'
			</if>
			<if test=" null != fid">
				AND fid = #{fid}
			</if>	
			<if test=" null != sdate ">
				AND sdate = #{sdate}
			</if>
			<if test=" null != uid ">
				AND uid = #{uid}
			</if>
			<if test=" null != nname and '' != nname ">
				AND nname LIKE '%${nname}%'
			</if>	
			<if test=" null != avatar and '' != avatar ">
				AND avatar LIKE '%${avatar}%'
			</if>
			<if test=" null != remarks and '' != remarks ">
				AND remarks LIKE '%${remarks}%'
			</if>	
			<if test=" null != status ">
				AND status = #{status}
			</if>	
		</where>
	</select>
	
	<select id="getMaxId"   resultType="Integer">
		SELECT Max(id) AS VALUE FROM t_post_comment
	</select>
	
	<select id="getObject" resultMap="tPostCommentMap" parameterType="Long">
		SELECT * FROM t_post_comment WHERE id = #{0}
	</select>
	

    <!--根据帖子tid查询有效的评论  -->
	<select id="getStatusOneList" resultMap="tPostCommentMap" parameterMap="tPostComment">
		SELECT * FROM t_post_comment tpc
		<where>
			tpc.status=1 					
			<if test=" null != id">
				AND id = #{id}
			</if>
			<if test=" null != tid">
				AND tid = #{tid}
			</if>
				
			<if test=" null != content and '' != content ">
				AND content LIKE '%${content}%'
			</if>
			<if test=" null != fid">
				AND fid = #{fid}
			</if>	
			<if test=" null != sdate ">
				AND sdate = #{sdate}
			</if>
			<if test=" null != uid ">
				AND uid = #{uid}
			</if>
			<if test=" null != nname and '' != nname ">
				AND nname LIKE '%${nname}%'
			</if>	
			<if test=" null != avatar and '' != avatar ">
				AND avatar LIKE '%${avatar}%'
			</if>
			<if test=" null != remarks and '' != remarks ">
				AND remarks LIKE '%${remarks}%'
			</if>	
			<if test=" null != status ">
				AND status = #{status}
			</if>	
						
		</where>
			ORDER BY id DESC 
		<if test=" limit != -1 ">
			LIMIT ${(page-1)*limit},#{limit}
		</if>
	</select>
	
	<select id="getStatusOneListcount" resultType="Long" parameterMap="tPostComment">
		SELECT COUNT(*) FROM t_post_comment tpc
		<where>
			tpc.status=1 
			<if test=" null != id">
				AND id = #{id}
			</if>
			<if test=" null != tid">
				AND tid = #{tid}
			</if>
				
			<if test=" null != content and '' != content ">
				AND content LIKE '%${content}%'
			</if>
			<if test=" null != fid">
				AND fid = #{fid}
			</if>	
			<if test=" null != sdate ">
				AND sdate = #{sdate}
			</if>
			<if test=" null != uid ">
				AND uid = #{uid}
			</if>
			<if test=" null != nname and '' != nname ">
				AND nname LIKE '%${nname}%'
			</if>	
			<if test=" null != avatar and '' != avatar ">
				AND avatar LIKE '%${avatar}%'
			</if>
			<if test=" null != remarks and '' != remarks ">
				AND remarks LIKE '%${remarks}%'
			</if>	
			<if test=" null != status ">
				AND status = #{status}
			</if>	
		</where>
	</select>
</mapper>